@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}



div{
  margin: 1rem;
  padding: 1rem;
}

h1{
  font-size: 3rem;
}

.output{
  border-radius: 1rem;
  background-color: rgb(46, 49, 51);
   size-adjust: auto;
}

.input{
  border-radius: 1rem;
  background-color: rgb(58, 2, 41);
  size-adjust: auto;
}